.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.input {
  border: none;
  border-bottom: 1px solid #000;
  width: 80%;
  font-size: var(--fs-body);
}

.input:focus {
  outline: none;
}

.input .button {
  width: 20%;
}

.button {
  font-size: var(--fs-body);
  border: none;
  background: var(--clr-accent);
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}

.button i {
  transition: 0.3s;
}
.button:hover i {
  margin-left: 0.5rem;
}
