.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.image {
  width: 15rem;
  position: relative;
}

.image img {
  border-radius: 50%;
}

.image .input {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: var(--fs-h1);
  color: var(--clr-accent);
  transition: 0.5s;
}

.image:hover .input {
  visibility: visible;
}

.handle {
  font-weight: var(--fw-normal);
  font-size: var(--fs-h3);
  padding-left: 2rem;
  padding-top: 1rem;
  color: #999;
}

.content {
  padding: 0 2rem;
}

.bio {
  padding-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
  font-size: var(--fs-caption);
}

.info i {
  margin-right: 0.4rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
