/* general properties */
:root {
  --ff-josefin: 'Josefin Sans', sans-serif;
  --fs-big: 2.5rem;
  --fs-normal: 1.2rem;
  --fw-light: 300;
  --fw-normal: 400;
  --ls-big: 0.15rem;
  --ls-normal: 0.1rem;
  --c-orange: #deaa86;
  --c-black: rgba(0, 0, 0, 0.3);
  --c-black-light: rgba(0, 0, 0, 0.1);
}

.html {
  font-size: 50.5%;
}

* {
  top: 0;
}

.body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  margin-bottom: 1rem;
}

.card .image {
  min-width: 200px;
}

.card .content {
  padding: 25;
  object-fit: cover;
}

.form {
  text-align: center;
}

.form .textField {
  margin: 1rem auto;
}

.form .button {
  margin-top: 2rem;
  position: relative;
}

.form .customError {
  font-size: 0.8rem;
  color: red;
  margin-top: 1rem;
}

.form .progress {
  position: absolute;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile .image-wrapper {
  text-align: center;
  position: relative;
}

.image-wrapper .button {
  position: absolute;
  top: 80%;
  left: 70%;
}
.profile .profile-image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dialog-title {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
