*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.sidebar {
  flex: 1 1 20%;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.main {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-right: 1px solid #ccc;
}

.generic {
  padding: 1rem;
  flex: 1 1 25%;
}

.page-header {
  border-bottom: 1px solid #ccc;
  height: 5%;
}

.content {
  overflow: auto;
}

@media (max-width: 800px) {
  .generic {
    display: none;
  }

  .sidebar {
    flex: 1 1 10%;
  }

  .main {
    flex: 1 1 90%;
  }
}

@media (max-width: 500px) {
  .body {
    flex-direction: column-reverse;
  }
}
