.body {
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  margin-bottom: 1rem;
}

.card .image {
  min-width: 200px;
}

.card .content {
  padding: 25;
  object-fit: cover;
}

.form {
  text-align: center;
}

.form .textField {
  margin: 1rem auto;
}

.form .button {
  margin-top: 2rem;
  position: relative;
}

.form .customError {
  font-size: 0.8rem;
  color: red;
  margin-top: 1rem;
}

.form .progress {
  position: absolute;
}
